@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
  font-family: 'Montserrat', sans-serif;
}

// #25baa0
// #e4f4f0
// #3387a1

/** HTML tag */
html, body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}
button {
  all: unset;
}
/** HTML tag */

/** Common */
.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}
/** Common */