@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
  font-family: 'Montserrat', sans-serif;
}

// #257aba
// #258aba
$color-main: #2597ba;
$color-red: #eb4f72;
$color-white: #FFFFFF;
$font-md: 20px;

/** HTML tag */
html, body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: #1f192d;
}
button {
  all: unset;
}
/** HTML tag */

/** Common */
.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}

.color-danger {
  color: $color-red;
}

.button-main {
  padding: 1rem 2rem;
  font-size: $font-md;
  color: $color-white;
  background-color: $color-main;
  border-radius: 0.5rem;
}
/** Common */